@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --md-margin: 12%;
    --lg-margin:24%;
}

section {
    margin: 30px;
}

@media (min-width:768px) {
   section {
    margin-right:var(--md-margin);
    margin-left:var(--md-margin);
   } 
}

@media (min-width:1024px) {
    section {
        margin-right: var(--lg-margin);
        margin-left: var(--lg-margin);
    }
}
